<div class="container">
    <div class="main-content">
        <h1>Selected Coins:</h1>
        <div class="market-list">
            <div *ngFor="let item of list" class="row">
                <h4>{{item.symbol}}</h4>
                <div class="coin-value">
                    <p>Last: {{item.lastTradeRate}}</p>
                    <p>Bid: <span class="red">{{item.bidRate}}</span></p>
                    <p>Ask: <span class="green">{{item.askRate}}</span></p>
                </div>
                
            </div>

        </div>
    </div>
</div>