<div class="container">
    <div class="main-content">
        <h1>Selected Coins:</h1>
        <div class="market-list">
            <div *ngFor="let coin of list" class="row">
                <div class="row-top">
                    <h4>{{coin.symbol}}</h4>
                    <Button (click)="pokazModal(coin)" >- Delete </Button>

                </div>
                <div class="coin-value">
                    <p>Last: {{coin.lastTradeRate}}</p>
                    <p>Bid: <span class="red">{{coin.bidRate}}</span></p>
                    <p>Ask: <span class="green">{{coin.askRate}}</span></p>
                </div>
                <div class="last-update">
                    <p> Last Update: {{coin.updatedAt | date: "dd-MM-yyyy, H:mm"}} </p>
                </div>
                
            </div>

        </div>
    </div>
</div>

<app-confirmation-modal
    *ngIf="czyModalJestWidoczny"
    (cancel)="zamknijModal()"
    (confirm)="deleteFromFavorite()"
    [modalMessage]="napisWModalu"
    [yesButtonStyle]="'danger'"
></app-confirmation-modal>
